/* install fonts */
@font-face{
    font-family: abrilFat;
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

@font-face{
    font-family: grenzeGotisch;
    src: url('../fonts/GrenzeGotisch-VariableFont_wght.ttf');
}

body{
    margin: 0;
}

.container{
    width: 70%;
    margin: auto;
}

.header{
    width: 100%;
    background: rgb(212, 206, 206);
    overflow: hidden;
  
    margin-bottom: 50px;
}


.header .logo{
    float: left;
    font-size: 32px;
    font-family: abrilFat;
}

.header .navigation{
    float: right;
    margin-top: 40px;
}

.header .navigation li{
    float: right;
    margin-left: 35px;
    display: block;
    
}

.header .navigation li a{
    text-decoration: none;
    color: rgb(58, 5, 5);
    font-family: grenzeGotisch;
    font-size: 20px;
}

.header .navigation li a:hover{
    text-decoration: underline;
    color: purple;
}